## Periodically runs a bash script.

name: Release Latest Versions

on:
  workflow_dispatch:
    inputs:
      should_rerelease:
        description: 'Repack the latest version of the package'
        required: false
        default: false
        type: boolean
      dry_run:
        description: 'Dry run: Run the script without pushing changes'
        required: false
        default: false
        type: boolean
      from_version:
        description: 'The version to start from'
        required: false
        default: '1.0.0'
        type: string
  schedule:
    - cron: '0 */12 * * *'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Release Latest Versions
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          if [ "${{ inputs.should_rerelease }}" = "true" ]; then
            SHOULD_RERELEASE="--should-rerelease"
          fi

          if [ "${{ inputs.dry_run }}" = "true" ]; then
            DRY_RUN="--dry-run"
          fi

          bash -x ./release-latest-versions.sh $SHOULD_RERELEASE $DRY_RUN --from-version=${{ inputs.from_version }}

