## Periodically runs a bash script.

name: Release Latest Versions

on:
  workflow_dispatch:
    inputs:
      should_rerelease:
        description: "Repack the latest version of the package"
        required: false
        default: false
        type: boolean
      dry_run:
        description: "Dry run: Run the script without pushing changes"
        required: false
        default: false
        type: boolean
      from_version:
        description: "The version to start from"
        required: false
        default: "1.0.0"
        type: string
  schedule:
    - cron: "0 */12 * * *"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up PHP
        uses: shivammathur/setup-php@ec406be512d7077f68eed36e63f4d91bc006edc4 # v2.35.4
        with:
          php-version: 7.4
          tools: composer:v2, wp-cli
          coverage: none

      - name: Install WPGraphQL dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # v3.1.1
        with:
          composer-options: "--no-progress"
          dependency-versions: "highest"
          working-directory: ./source

      - name: Release Latest Versions
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          if [ "${{ inputs.should_rerelease }}" = "true" ]; then
            SHOULD_RERELEASE="--should-rerelease"
          fi

          if [ "${{ inputs.dry_run }}" = "true" ]; then
            DRY_RUN="--dry-run"
          fi

          bash -x ./release-latest-versions.sh $SHOULD_RERELEASE $DRY_RUN --from-version=${{ inputs.from_version }}
